extends layout

block content
    #checkoutDiv(class="container")
        br
        form#checkout(method="post", action="/process")
            div(class="form-group")
                #dropin
            input#subscribeBtn(class="btn btn-success" type="submit", value="Pay $1.00")

    script(src="https://js.braintreegateway.com/v2/braintree.js")
    script.
        braintree.setup("#{token}", "dropin", {
            container: "dropin",
            singleUse: false,
            enableShippingAddress: true
        });
